.information-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1rem;
  padding: 5%;
  background-color: #fff;

  &-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
    padding: 1rem 1rem 2rem;

    &-primary {
      display: flex;
      flex-flow: column nowrap;
      justify-content: start;
      align-items: start;
      gap: 1.5rem;

      &-image {
        width: 100%;
        object-fit: cover;
      }

      &-header {
        text-transform: uppercase;
        font-weight: 900;
      }
    }

    &-secondary {
      padding: 1rem;
      display: flex;
      flex-flow: column nowrap;
      justify-content: start;
      align-items: start;
      gap: 1rem;
      height: 100%;
      width: 100%;

      &-content {
        text-decoration: none;
        color: #89288f;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: #faa519;
        }
      }
    }

    &-tertiary {
      display: flex;
      flex-flow: column nowrap;
      justify-content: start;
      align-items: stretch;
      gap: 1rem;
      width: 100%;
      height: 100%;
      min-height: 400px;
      overflow: hidden;

      &-header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        &-title {
          font-size: 1.25rem;
          font-weight: 900;
          text-transform: uppercase;
        }

        &-controls {
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;

          &-button {
            transition: all 0.3s ease-in-out;
            border: 1.5px solid #000;
            background-color: transparent;
            padding: 0.3rem 0.6rem;

            &:hover {
              background-color: #000;
              color: white;
            }
          }
        }
      }
      &-content {
        position: relative;

        &-body {
          margin: 1.5rem 0;
          position: relative;
          height: 100%;
        }
      }
    }
  }
}
